CONFIG_ARM64_FLUSH_CONSOLE_ON_RESTART=y
CONFIG_BUILD_ARM64_DT_OVERLAY=y
CONFIG_EXFAT_FS=y
CONFIG_LOG_BUF_SHIFT=18
CONFIG_NFC=y
CONFIG_QCA_CLD_WLAN=m
CONFIG_SERIAL_MSM_GENI_CONSOLE=y
CONFIG_SERIAL_MSM_GENI_EARLY_CONSOLE=y
CONFIG_SOMC_CHARGER_EXTENSION=y
CONFIG_TZ_LAST_LOGS=y
CONFIG_ARCH_USE_MEMREMAP_PROT=y
CONFIG_EFI_EARLYCON=y
CONFIG_EXFAT_DEFAULT_IOCHARSET="utf8"
CONFIG_FONT_8x16=y
CONFIG_FONT_AUTOSELECT=y
CONFIG_FONT_SUPPORT=y
# CONFIG_NFC_DIGITAL is not set
# CONFIG_NFC_HCI is not set
# CONFIG_NFC_NCI is not set
# CONFIG_NFC_PN533_I2C is not set
# CONFIG_NFC_PN533_USB is not set
# CONFIG_NFC_SN1X0_DEVICES is not set
# CONFIG_NFC_SN2X0_DEVICES is not set
CONFIG_NFC_SNX0_DEVICES=m
CONFIG_NXP_P73_DEVICES=m
CONFIG_QCA_CLD_WLAN_PROFILE="default"
CONFIG_SERIAL_CORE_CONSOLE=y
CONFIG_SERIAL_EARLYCON=y
